# 1. What exactly is []?

In [ ]:
[ ]is a empty list.

In [ ]:
In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

# 2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

in order to assign "hello" at 3rd value . we need to modify the value index 2 of spam mlist

In [2]:
spam=[2,3,4,6,8,10]
print(spam)
spam[2]="hello"
print(spam)

[2, 3, 4, 6, 8, 10]
[2, 3, 'hello', 6, 8, 10]

# Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [16]:
spam=['a','b','c','d']

In [25]:
spam

['a', 'b', 'c', 'd']

# 3. What is the value of spam[int(int('3' * 2) / 11)]?

In [26]:
spam[int(int('3' * 2) / 11)]

'd'

In [18]:
a=int('3'*2)

In [19]:
a

33

In [20]:
int(int('3'*2)/11)

3

In [21]:
b=int(a/11)

In [22]:
b

3

In [24]:
spam[int(int('3' * 2) / 11)]

'd'

# 4. What is the value of spam[-1]?

In [32]:
spam=['a','b','c','d']

In [33]:
spam[-1]

'd'

# 5. What is the value of spam[:2]?

In [35]:
spam=['a','b','c','d']

In [36]:
spam[:2]

['a', 'b']

# Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

In [2]:
bacon =[3,14,'cat',11,'cat',True]

# 6. What is the value of bacon.index('cat')?

In [3]:
bacon.index("cat")

2

# 7. How does bacon.append(99) change the look of the list value in bacon?

In [4]:
bacon.append(99)

In [5]:
bacon

[3, 14, 'cat', 11, 'cat', True, 99]

# 8. How does bacon.remove('cat') change the look of the list in bacon?

In [6]:
bacon.remove('cat')

In [7]:
bacon

[3, 14, 11, 'cat', True, 99]

In [ ]:
bacon.remove("cat")will remove first occurance of cat from the list

# 9. What are the list concatenation and list replication operators?

In [ ]:
 list concatenation means we are connecting two list and list replication operators means (*)

# 10. What is difference between the list methods append() and insert()?

#Append method appends the given object to the end of the list always.

The insert() method inserts the specified value at the specified position

# 11. What are the two methods for removing items from a list?

two method

In [ ]:
1. list.remove(object)
2. list.pop(index)

# 12. Describe how list values and string values are identical.

In [1]:
a=[12,122,'ayush',12.21,'saas']

In [3]:
type(a)

list

In [7]:
b="Ayushthakur"

In [8]:
type(b)

str

in list we can take different values like integer, float, string but in string we take only string.

# 13. What's the difference between tuples and lists?

In [10]:
a=(12,313,'ayush',67,'thakur')

In [11]:
type(a)

tuple

In [14]:
a[1]='kalin'

TypeError: 'tuple' object does not support item assignment

In [12]:
b=[12,313,'ayush',67,'thakur']

In [13]:
type(b)

list

In [15]:
b[1]='khatam'

In [16]:
b

[12, 'khatam', 'ayush', 67, 'thakur']

In [ ]:
touple are imutable while list are mutable

# 14. How do you type a tuple value that only contains the integer 42?

In [26]:
r=tuple([42])

In [27]:
r

(42,)

In [29]:
type(r)

tuple

# 15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [30]:
a=tuple([45,56,67])

In [31]:
a

(45, 56, 67)

In [32]:
type(a)

tuple

In [36]:
b=list(a)

b

In [35]:
type(b)

list

# 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Variables will contain references to list values rather than list values themselves.They contain references to the list values

In [37]:
var = [1,2,3]
print(var)
print(id(var))

[1, 2, 3]
821417430080

# 17. How do you distinguish between copy.copy() and copy.deepcopy()?

In [ ]:
copy() returns a shallow copy of list and deepcopy() return a deep copy of list.
deepcopy: In case of deep copy, a copy of object is copied in other object. It means that any changes made to a copy of object do not reflect in the original object.
shallow copy: In case of shallow copy, a reference of object is copied in other object. It means that any changes made to a copy of object do reflect in the original object.